.head {
    background-color: #241E20;
    padding: 20px;
    border-radius: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: absolute;
    top: 15px;
}

body {
    background-color: #B6AC8B;
    text-align: center;
}

button {
    background-color: #B6AC8B;
    border-radius: 5px;
    font-size: 30px;
    border: 2px solid #B6AC8B;

}

.paragraph{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #B6AC8B;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left; 
    padding: 20px;
    left: 55%;
    max-width: 600px;
    border: 5px solid #241E20;
}

.home {
    text-align: center;
}

.homePageContainer {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.imageAndParagraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.reversedRow {
    flex-direction: row-reverse;
}

.images {
    border-radius: 20px;
    border: 5px solid #241E20;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

table,th,tr,td {
    border: solid 5px #241E20;
}

table {
    margin-right: auto;
    border-collapse: collapse;
    border-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.paragraphstats, .paragraphEquipment {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #B6AC8B;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left; 
    max-width: 60%;
    border: 5px solid #241E20;
    padding: 20px;
}

.paragraphfineprint {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #B6AC8B;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left; 
    padding: 20px;
    max-width: 440px;
}

.premierleague {
    position: absolute;
    top: 22%;
    right: 42%;
    border-radius: 20px;
    border: solid 2px #241E20;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.history1 {
    color: black;
    background-color: #B6AC8B;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left; 
    padding: 20px;
    max-width: 10000px;
    border: 5px solid #241E20;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.history2 {
    color: black;
    background-color: #B6AC8B;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left; 
    padding: 20px;
    max-width: 10000px;
    border: 5px solid #241E20;
}

.historyImages, .equipmentImages {
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
}

.historyImage, .equipmentImage {
    border-radius: 20px;
    border: 5px solid #241E20;
}


.paragraphfineprinthistory {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #B6AC8B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left; 
}

.cleatimage {
    border-radius: 20px;
    border: 5px solid #241E20;
}

.teamsimage {
    border-radius: 20px;
    width: 60%;
}

form {
    position: absolute;
    top: 100px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: 5px solid #241E20;
    padding: 20px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="submit"]{
    font-size: 24px;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.rows {
    display: flex;
    flex-direction: column;
}